{% extends "base.html" %}

{% block title %}Banco de Questões - Home{% endblock %}

{% block content %}
<h1>Página inicial</h1>

<hr>

<h2>Últimas Questões Cadastradas</h2>
{% if questoes %}
    <ul>
    {% for questao in questoes %}
        <li>
            {{ loop.index }}. <span>{{ questao.enunciado|safe }}</span> 
            <small>({{ questao.tema }}, {{ questao.nivel }})</small>
        </li>
    {% endfor %}
    </ul>
{% else %}
    <p>Nenhuma questão cadastrada ainda.</p>
{% endif %}

{% endblock %}
